@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  font-weight: 400; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.container_all {
  position: relative;
  right: 0;
  transition: all 300ms; }

h1 {
  font-size: 3rem;
  font-weight: 500; }

h2 {
  color: #003554; }

/*Colores*/
header {
  width: 100%;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms; }

.container__header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px; }

.logo img {
  width: 70px; }
  @media (min-width: 768px) {
    .logo img {
      width: 150px; } }

.logo .logo_mod {
  width: 70px; }

.container__nav {
  position: relative;
  height: 100%; }
  @media (max-width: 760px) {
    .container__nav {
      display: flex;
      justify-content: center;
      align-items: center; } }

nav {
  height: 100%; }
  @media (max-width: 760px) {
    nav {
      height: 100%;
      background: #F1FAFF;
      position: fixed;
      top: 0;
      right: -318px;
      padding: 0px 40px;
      transition: all 300ms; } }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 760px) {
      nav ul {
        flex-direction: column; } }
    @media (min-width: 768px) {
      nav ul {
        padding: 2rem; } }
    nav ul li {
      margin: 0px 20px; }
      @media (max-width: 760px) {
        nav ul li {
          margin: 20px 0px; } }
      nav ul li a {
        color: #fff;
        font-size: 14px;
        padding: 10px 30px; }
        nav ul li a:hover {
          transition: all 0.5s ease-in-out;
          /*Colores*/
          background: #52b69a;
          color: white;
          border-radius: 20px; }

.nav_mod {
  height: 70px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: #fff; }
  .nav_mod a {
    color: #373737; }
  .nav_mod .select {
    color: white; }

.logo_mod {
  width: 70px; }

.select {
  background: #52b69a;
  padding: 10px 30px;
  color: white;
  border-radius: 20px; }

.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 300ms;
  display: none; }
  .btn__menu:hover {
    background: #f5f5f5; }
  @media (max-width: 760px) {
    .btn__menu {
      display: flex; } }

@media (max-width: 760px) {
  .move_nav {
    right: 0px;
    background-color: #2196f3;
    width: 100%;
    top: 4.38rem; } }

/*Colores*/
.cover {
  width: 100%;
  padding-bottom: 120px;
  font-family: 'Poppins', sans-serif;
  padding-top: 100px;
  position: relative;
  overflow: hidden; }

.bg_color {
  width: 100%;
  height: 70%;
  background: #2196f3;
  position: absolute;
  top: 0; }

.wave {
  width: 6000px;
  height: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  background-image: url("../images/wd1.svg");
  background-position: bottom; }

.w1 {
  animation: w1 7s linear infinite; }

.w2 {
  animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
  opacity: 0.5; }

@keyframes w1 {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes w2 {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes desplazamiento {
  0%,
  100% {
    transform: translateY(-25px); }
  50% {
    transform: translateY(10px); } }

.container__cover {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: bottom; }

.cover .container__info {
  max-width: 25rem;
  margin-top: 2.5rem;
  z-index: 2; }

.cover h1 {
  max-width: 25rem;
  font-size: 3.75rem;
  font-weight: 900;
  color: #fff; }

.cover h2 {
  font-size: 3.75rem;
  font-weight: 900;
  margin-top: -30px; }

.cover p {
  margin-top: 0.62rem;
  color: #fff; }

.cover button {
  padding: 4px 40px;
  margin-top: 2.5rem;
  font-size: 1.12rem;
  font-weight: 600;
  border: none;
  background: #52b69a;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  cursor: pointer;
  transition: box-shadow 500ms; }
  @media (min-width: 768px) {
    .cover button {
      padding: 10px 40px; } }
  .cover button:hover {
    box-shadow: 1px 1px 30px -5px #20202085; }
  .cover button a {
    color: #f5f5f5; }

.container__vector {
  position: relative; }
  .container__vector img {
    border-radius: .6rem;
    width: 25rem;
    animation: move_vector 6s ease-in-out infinite; }
    @media (max-width: 760px) {
      .container__vector img {
        transform: scale(0);
        animation: none; } }
    @media (min-width: 992px) {
      .container__vector img {
        position: absolute;
        bottom: 0.62rem;
        right: 0px;
        transition: all 300ms; } }

@keyframes move_vector {
  0% {
    transform: translateY(10px); }
  25% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }

/*Colores*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #2196f3; }
  footer p {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: .5rem; }

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 1rem; }

.description__p {
  color: #f5f5f5;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 900; }

.description__span {
  color: #f5f5f5;
  font-size: 1.3rem; }

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  @media (min-width: 768px) {
    .redes {
      justify-content: center; } }

.redes__links {
  color: #f5f5f5;
  font-size: 2rem;
  margin-bottom: .5rem; }
  @media (min-width: 768px) {
    .redes__links {
      padding: 0 1rem; } }
  .redes__links:hover {
    transition: all 0.3s ease;
    color: #52b69a;
    font-weight: bold;
    transform: scale(1.2, 1.2); }
  .redes__links .iconify:hover {
    transition: all 0.3s ease;
    color: #52b69a;
    font-weight: bold;
    transform: scale(1.2, 1.2); }

/*Colores*/
/*Colores*/
.mainAbout {
  height: 100%; }
  @media (min-width: 992px) {
    .mainAbout {
      height: 130rem; } }
  @media (min-width: 1345px) {
    .mainAbout {
      height: 80rem; } }

.titleAbout {
  font-size: 2.7rem;
  font-weight: 900;
  text-align: center;
  padding: 2rem;
  color: #003554; }
  @media (min-width: 768px) {
    .titleAbout {
      font-size: 3.75rem; } }

.sectionAboutUs {
  padding: 1rem; }

.containerDescription {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .containerDescription {
      flex-direction: row-reverse;
      gap: 1rem; } }

.containerDescription__img img {
  overflow: hidden;
  border-radius: .8rem;
  transition: all ease-in-out .3s;
  width: 16rem;
  margin-bottom: 1rem; }
  .containerDescription__img img:hover {
    transform: scale(1.1); }
  @media (min-width: 992px) {
    .containerDescription__img img {
      width: 33rem; } }
  @media (min-width: 1345px) {
    .containerDescription__img img {
      width: 38rem; } }

.containerDescription__p p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5; }

.containerValores {
  margin-top: 8rem; }

.containerValores__title,
.containerValores__subtitle {
  text-align: center;
  margin-bottom: 1rem;
  color: #003554;
  font-size: 2.5rem;
  font-weight: 900; }
  @media (min-width: 768px) {
    .containerValores__title,
    .containerValores__subtitle {
      font-size: 3.75rem; } }

.containerValores__subtitle {
  font-size: 1.5rem; }

.valores {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  @media (min-width: 768px) {
    .valores {
      flex-direction: row; } }
  .valores .valores__div {
    border: 1px dashed #64b5f6;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem; }
    .valores .valores__div p {
      line-height: 1.5;
      padding: .5rem; }
  .valores img {
    width: 5rem;
    align-self: flex-start; }

.mainHome {
  height: 100%; }
  @media (min-width: 992px) {
    .mainHome {
      height: 100rem; } }
  @media (min-width: 1345px) {
    .mainHome {
      height: 70rem; } }

.sectionSlogan {
  margin: 0 auto;
  width: 90%;
  margin-top: 2rem; }
  .sectionSlogan h2 {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 900; }
    @media (min-width: 768px) {
      .sectionSlogan h2 {
        font-size: 3.75rem; } }
  .sectionSlogan p {
    font-size: 2rem;
    margin-bottom: 3rem; }

.sloganImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  gap: 1rem; }
  @media (min-width: 768px) {
    .sloganImg {
      flex-direction: row;
      flex-wrap: wrap; } }
  .sloganImg img {
    width: 16rem;
    border-radius: .8rem;
    transition: transform ease-in-out .3s; }
    .sloganImg img:hover {
      transform: scale(1.1); }
    @media (min-width: 768px) {
      .sloganImg img {
        width: 20rem; } }

.sectionTestimony {
  margin-top: 3rem; }
  .sectionTestimony h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 900; }
    @media (min-width: 768px) {
      .sectionTestimony h2 {
        font-size: 3.75rem; } }

.testimonyAll {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem; }
  @media (min-width: 768px) {
    .testimonyAll {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }

.containerTestimony {
  display: grid;
  justify-items: center;
  align-items: center; }
  @media (min-width: 768px) {
    .containerTestimony {
      grid-template-columns: .2fr 1fr; } }
  .containerTestimony img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #2196f3;
    transition: transform ease-in-out .3s; }
    .containerTestimony img:hover {
      transform: scale(1.1); }
  .containerTestimony span {
    font-weight: bold; }
    @media (min-width: 768px) {
      .containerTestimony span {
        align-self: flex-end; } }

.containerTestimony_description {
  display: flex;
  flex-direction: column; }

/*Colores*/
.titleContact {
  padding: 1rem;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 900; }
  @media (min-width: 768px) {
    .titleContact {
      font-size: 3.75rem; } }

.sectionInfo {
  display: flex;
  flex-direction: column;
  height: 50rem; }
  @media (min-width: 768px) {
    .sectionInfo {
      flex-direction: row;
      justify-content: space-around;
      height: 30rem; } }

.containerContact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.7rem 1.6rem; }

.containerContact__description {
  display: flex;
  gap: 1rem; }
  .containerContact__description p {
    font-size: 1.3rem;
    color: black;
    padding: 0 1rem; }

.information__list {
  margin-left: 2rem;
  display: flex;
  flex-direction: column; }
  .information__list li {
    list-style: disc;
    padding: .5rem;
    font-size: 1.3rem; }

.contenedorRedes {
  display: flex;
  flex-direction: column; }
  .contenedorRedes h2 {
    color: #003554;
    padding: 1rem;
    text-align: center; }
  .contenedorRedes div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-around; }

.contenedorRedes__links {
  font-size: 2rem;
  color: #52b69a; }
  .contenedorRedes__links:hover {
    color: #1d6853; }

/*Colores*/
.creations {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    .creations {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center; } }

.container {
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 50%; } }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  border-radius: .8rem; }

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease; }

.container:hover .image {
  opacity: 0.3; }

.container:hover .overlay {
  opacity: 1; }

.text {
  color: #52b69a;
  font-size: 2rem;
  text-align: center;
  padding: 16px 32px; }

.logo .logo__img {
  width: 9rem;
  margin: 0 auto; }
