html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container_all {
    position: relative;
    right: 0;
    transition: all 300ms;
}

h1 {
    font-size: 3rem;
}

h2,
h3 {
    font-size: 2rem;
}